<a href="https://colab.research.google.com/github/Ram3812/twitter_project/blob/main/Mini_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classifying the tweets into ISO 37120 Dimensions
Installing and Importing the required libraries

In [ ]:
import json
import csv
import re
import tweepy
import nltk
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt  
import seaborn as sns

# Getting the authentication for API

In [ ]:
consumer_key = 'JXCjFvSrGB6Ej4UtT5aNXKOSH' 
consumer_secret = 'oIL4sxvEMlMz7vj2Qx4v7t9AMdG9E7o9I5v9lzd10QHcV98Lw4' 
access_token = '1286322486414462977-2qxLDLBVXGPRsto0wUdizM4QVJRw8E' 
access_token_secret = 'kXIktV80cX5nomLLmYAaPXzPFyyg4oNsWGmqCXHEz3trR'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit = True)

# Defining the required functions
  - Extracting the Data
  - Preprocessing the data

In [ ]:
def Extract_data(label,qu,n):
  df = pd.DataFrame()
  q = qu + ' -filter:retweets'
  for status in tweepy.Cursor(api.search, q=q, lang='en', tweet_mode='extended').items(n):
      df = df.append({'createdTime' : status.created_at, 'Tweet' : status.full_text.replace('\n',' ').encode('utf-8'), 'User': status.user.screen_name.encode('utf-8'), 'label': label}, ignore_index=True)
  fname = qu + '.csv'
  df.to_csv(fname)
  return df


from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize as wt
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords

def preProcessing(tweets):
  tweets = tweets.tolist()
  ps = PorterStemmer()
  processedTweets = []
  punct = ['.',',','?','!',';',':','-','_','(',')','{','}','[',']','&','*','+','=',"'",'"','<','>','|','\\','/','`','~','@','#']
  sWords = set(stopwords.words('english'))
  for tweet in tweets:
    tweet = tweet.decode('utf-8')
    tweet = tweet.encode('ascii', 'ignore').decode('ascii') #removing the emojis
    tweet = re.sub(r'http\S+', '', tweet) #removing the urls
    tweet = tweet.lower() #converting the text into lower cases
    words = wt(tweet) #tokenization
    processedWords = []
    for word in words:
      if word in punct or word in sWords:
        continue
      if words[words.index(word) - 1] != '@' and words[words.index(word) - 1] != '#':
        processedWords.append(ps.stem(word)) #stemming
    processedTweets.append(processedWords)
  return processedTweets

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
#df1 = Extract_data('dummy', '@GHMCOnline', 10)
df2 = Extract_data('water', '@GHMCOnline AND water', 1000)
df3 = Extract_data('electricity', '@GHMCOnline AND (electricity OR electric)', 1000)
df4 = Extract_data('electricity', '@TsspdclCorporat AND power', 1000)
df5 = Extract_data('police', '(@HYDTP OR @TelanganaCOPs)', 1000)
df6 = Extract_data('solid waste', '(@GHMCOnline OR @KTRTRS) AND (garbage OR waste)', 1000)
df7 = Extract_data('sanitation', '(@GHMCOnline OR @KTRTRS) AND sanitation', 1000)
df8 = Extract_data('education', '(@GHMCOnline OR @KTRTRS) AND education', 1000)
df9 = Extract_data('environment', '(@GHMCOnline OR @KTRTRS) AND (environment OR trees OR plant OR tree OR pollution)', 1000)
df10 = Extract_data('economy', '(@GHMCOnline OR @KTRTRS OR @TelanganaCMO OR @trsharish) AND (economy OR finance OR financial OR gdp)', 1000)
df11 = Extract_data('fire', '(@GHMCOnline OR @KTRTRS OR @TelanganaCMO OR @TelanganaCMO OR @ysjagan) AND (fire OR emergency OR #DisasterResponse)', 1000)
df12 = Extract_data('health', '(@GHMCOnline OR @KTRTRS OR @TelanganaCMO) AND (health)', 1000)
df13 = Extract_data('health', '(@TelanganaHealth OR @Eatala_Rajender) AND (hospital OR medical OR health OR suffering)', 1000)
df14 = Extract_data('transport', '(@GHMCOnline OR @KTRTRS) AND (road OR bus OR transport OR train OR metro)', 1000)
df15 = Extract_data('telecommunication', '(@GHMCOnline OR @KTRTRS) AND (bsnl OR network OR communications OR 5G OR 4G OR fibre OR fiber OR broadband )', 1000)

In [ ]:
df_main = pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15])
df_main.head()

                                               Tweet  ...  label
0  b'Drainage water over flowing since many days....  ...  water
1  b'@harishchidiri @GHMCOnline @TelanganaCMO Gho...  ...  water
2  b'6 days have passed and no one is ready to ta...  ...  water
3  b'@GHMCOnline @CommissionrGHMC @KTRTRS  Pincod...  ...  water
4  b'@HMWSSBOnline @DC_Serilingmply @GHMCOnline @...  ...  water

[5 rows x 4 columns]

In [ ]:
print(df2.shape,df3.shape,df4.shape,df5.shape,df6.shape,df7.shape,df8.shape,df9.shape,df10.shape,df11.shape,df12.shape,df13.shape,df14.shape,df15.shape,df_main.shape)
df_main.to_csv('main_dataset.csv')

(141, 4) (14, 4) (756, 4) (1000, 4) (154, 4) (84, 4) (82, 4) (133, 4) (143, 4) (62, 4) (311, 4) (112, 4) (710, 4) (16, 4) (3718, 4)

In [ ]:
df_main.head()

                                               Tweet  ...  label
0  b'Drainage water over flowing since many days....  ...  water
1  b'@harishchidiri @GHMCOnline @TelanganaCMO Gho...  ...  water
2  b'6 days have passed and no one is ready to ta...  ...  water
3  b'@GHMCOnline @CommissionrGHMC @KTRTRS  Pincod...  ...  water
4  b'@HMWSSBOnline @DC_Serilingmply @GHMCOnline @...  ...  water

[5 rows x 4 columns]

In [ ]:
df_processed = df_main.copy()
df_processed.Tweet = preProcessing(df_processed.Tweet)
df_processed.head()

                                               Tweet  ...  label
0  [drainag, water, flow, sinc, mani, day, hasmat...  ...  water
1  [ghoram, ga, unnai, citi, lo, road, malli, wat...  ...  water
2  [6, day, pass, one, readi, take, respons, take...  ...  water
3  [pincode-500091, radha, nagar-street, no.1-, s...  ...  water
4  [drainag, water, get, stagnant, becom, like, p...  ...  water

[5 rows x 4 columns]

In [ ]:
df_processed.to_csv('processed_data.csv')

In [ ]:
from sklearn.model_selection import train_test_split as tts
X = df_processed['Tweet']
y = df_processed['label']
X_train, X_test, y_train, y_test = tts(X,y,test_size = 0.3, random_state = 0)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(2602,) (1116,) (2602,) (1116,)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from sklearn.neighbors import KNeighborsClassifier as knn
K = [] 
training = [] 
test = [] 
scores = {} 

for k in range(2, 21): 
	clf = knn(n_neighbors = k) 
	clf.fit(X_train, y_train) 

	training_score = clf.score(X_train, y_train) 
	test_score = clf.score(X_test, y_test) 
	K.append(k) 

	training.append(training_score) 
	test.append(test_score) 
	scores[k] = [training_score, test_score] 

for keys, values in scores.items(): 
	print(keys, ':', values) 


'''ax = sns.stripplot(K, training); 
ax.set(xlabel ='values of k', ylabel ='Training Score') 

plt.show() 
# function to show plot'''

ValueError: ignored

# Testing

In [ ]:
def fn(x):
  return x+1
df = pd.DataFrame([[4, 9]] * 3, columns=['foo', 'bar'])
#df['foo'] = df['foo'].apply(fn(x))
df.foo = fn(df.foo)
df

   foo  bar
0    5    9
1    5    9
2    5    9

In [ ]:
from nltk import ngrams
from nltk.stem import PorterStemmer
ps = PorterStemmer()

sentence = 'this is a foo bar sentences and i want to ngramize it'

n = 3
sixgrams = ngrams(sentence.split(), n)

for grams in sixgrams:
  print(grams)
  print(ps.stem(grams))

('this', 'is', 'a')

AttributeError: ignored